*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
    max-width: 100%;
    vertical-align: bottom;
}

body{
    margin-top: 200px;
    margin-bottom: 200px;
}

.title{
    width: 282px;
    margin-inline: auto;
    margin-bottom: 30px;
}

.link-button{
    display:block;
    width: fit-content;
    margin-inline: auto;
    background-color: #e52c77;
    border: 4px solid #aaa;
    border-radius: 10px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.15);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin-top: 200px;
    text-decoration: none;
    transition: all 0.25s ease-out;

    p{
        transition: all 0.25s ease-out;
    }

    &:hover{
        /*opacity: 0.5;*/
        background-color: #aaa;
        border: 4px solid #e52c77;

        p{
            color: #e52c77;
        }
    }
}

.button-kirby{
    position: absolute;
    top: -60px;
    left: -120px;
}

.container {
    /*    width: fit-content;*/
    /*    margin-inline: auto;*/
    /*    display: grid;*/
    /*    grid-template-columns: repeat(3, 400px);*/
    /*    gap: 10px;*/


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    p {
        flex-basis: 600px;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}