*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
	max-width: 100%;
}

body{
	padding-top: 200px;
	padding-bottom: 200px;
}

.title{
	width: 282px;
	margin-inline: auto;
	margin-bottom: 30px;
}

.link-button{
	width: fit-content;
	background-color: #e52c77;
	color: #fff;
	margin-inline: auto;
	font-size: 25px;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	border: 4px solid #aaa;
	border-radius: 10px;
	box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.15);
	position: relative;
	margin-top: 80px;
}

.button-kirby{
	position: absolute;
	top: -60px;
	left: -120px;
	right: 0;
	bottom: 0;
}

.img-container{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-left: auto;
	margin-right: auto;
	gap: 20px;
	/*width: 640px;*/

	p{
		flex-basis: 200px;
	}
}
