* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Noto Sans JP", sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: #333333;
    transition: all 0.25s ease-out;
}

.header{
    width: 1440px;
    height: 90px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-right: 70px;
    padding-left: 70px;
}

.header-logo{
    width:167px;
    margin-right: auto;
}

.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight:bold;
}

.home-link{
    color: #DD1B57;
}

.top{
    background-image: url("./assets/img/mv.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1110px) {
        height: 460px;
    }
}

.top-text{
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;

    @media screen and (max-width: 1110px) {
        font-size: 20px;
    }
}

.top-title{
    font-size: 160px;

    @media screen and (max-width: 1110px) {
        font-size: 80px;
    }
}

.main{
    width: 1111px;
    align-items: center;
    margin: 0 auto;
    padding-top: 60px;

    @media screen and (max-width: 1110px) {
        width: 100%;
        padding-inline: 6%;
    }
    @media screen and (max-width: 1110px) {
        width: 100%;
        padding-inline: 6%;
    }
}

.news{
    display: flex;
    padding-bottom: 95px;

    @media screen and (max-width: 1110px) {
        display: block;
    }
}

.contents-title{
    width: 166px;
    margin-right: 50px;
    color: #DD1B57;
    font-size: 40px;
    font-weight: bold;

    @media screen and (max-width: 1110px) {
        font-size: 32px;
    }

}

.news-head{
    width: 855px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 15px;

    @media screen and (max-width: 1110px) {
        width: 100%;
        display: block;
    }
}

.service{
    margin-bottom: 100px;
}

.service-title{
    display: flex;
}

.service-shadow{
    position: absolute;
    z-index: -1;
    right:0;
    margin-top: -40px;
    color: #F2F2F2;
    font-size: 168px;
    font-weight: bold;

    @media screen and (max-width: 1110px) {
        font-size: 70px;
        margin-top: 0px;
    }
}

.service-contents{
    display: flex;
    gap: 30px;
    margin-top: 50px;

    @media screen and (max-width: 1110px) {
        flex-wrap: wrap;
    }
    @media screen and (max-width: 768px) {
     display: block;
    }
}

.service-box{
    width: 350px;
    height: 256px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    @media screen and (max-width: 1110px) {
        width: 335px;
        height: 246px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 20px;
    }
}

.service-inbox{
    width: 250px;
    text-align: center;
    margin: auto;
}

.service-img{
    width: 48px;
}

.service-heading{
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.service-text{
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
}

.footer{
    background-color: rgb(221, 27, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;

    @media screen and (max-width: 1110px) {
        font-size: 12px;
        padding-inline: 6%;
    }
}

.footer-inbox{
    margin-top: 60px;
    margin-bottom: 50px;
    width: 1111px;
}

.footer-menu{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;

}

.footer-link{
    color: white;
}

.message-top{
    background-image: url("./assets/img/mv.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-title{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.message-box{
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.message-catch {
    font-size: 40px;
    font-weight: bold;
    color: #DD1B57;

}

.message-explain{
    font-size: 18px;
    margin-top: 20px;
}

.message{
    display: flex;
    justify-content: center;
}

.ceo-box{
width: 750px;

}

.ceo-icon{
    float: left;
    margin: 0 25px 0 0;

    img{
        width: 100px;
        height: 100px;
    }
}

.ceo-text{
    font-size: 16px;
}

.ceo-link{
    color: #349BF4;
}

.office{
    width: 1110px;
    height: 400px;
    display: flex;
    margin: 80px auto 100px auto;
}