* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
    vertical-align: bottom;
}

body {
    color: #333333;
    font-family: "arial", sans-serif;
}

.header-logo {
    width: 280px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-inline: auto;
}

.top-img {
    background-image: url("./assets/img/pc_main-visual.jpg");
    background-size: auto 590px;
    background-position: center;
    height: 590px;
    background-color: darkturquoise;
}

.menu {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    line-height: 18px;
    letter-spacing: 0.1em;
}

.contents {
    width: fit-content;
    margin-inline: auto;
    justify-content: center;
}

.concept {
    margin-bottom: 100px;
    margin-inline: auto;
    display: flex;

    img {
        width: 555px;
    }

    .concept-text {
        padding-left: 40px;
        padding-top: 179px;
        font-size: 16px;
    }

    h1 {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 32px;
        color: #24A8BF;
        font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    }

    /*p:nth-child(2) {*/
    /*    font-family: "Hiragino Kaku Gothic ProN", sans-serif;*/
    /*}*/
    /*2つめのP要素に適応させたいけど、どうやったらいいかわかりませんでした*/
}

.concept-sentence{
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

.blog-title {
    text-align: center;
    font-size: 13px;

    h1 {
        font-size: 32px;
        color: #24A8BF;
    }
}

.blog-contents {
    margin-top: 30px;
    display: grid;
    width: fit-content;
    margin-inline: auto;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    div {
        width: 350px;

        &:hover {
            opacity: 0.6;
        }
    }

    img {
        width: 350px;
    }

    .title {
        width: 315px;
        font-size: 15px;
        line-height: 2.4;
        font-family: "Hiragino Kaku Gothic ProN", sans-serif;
        font-weight: 600;
    }

    .blog-date {
        font-size: 12px;
        line-height: 1.4;
        letter-spacing: 0.05em;
    }

}

.blog-button {
    margin-top: 30px;
    margin-bottom: 152px;
    width: fit-content;
    margin-inline: auto;
    border: 1px solid #24A8BF;
    border-radius: 3px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 72px;
    padding-right: 72px;
    color: #24A8BF;
    font-size: 15px;
    position: relative;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*gap: 47.5px;*/

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 25.5px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-color: #24A8BF;
        width: 5px;
        height: 9px;
        clip-path: polygon(100% 0, 0 50%, 100% 100%);
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        right: 25.5px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-color: #24A8BF;
        width: 5px;
        height: 9px;
        clip-path: polygon(0 0, 0% 100%, 100% 50%);
    }

    &:hover {
        background: #24A8BF;
        color: #fff;

        &::before {
            background-color: #fff;
        }

        &::after {
            background-color: #fff;
        }
    }

    /*    .triangle{*/
    /*        position: absolute;*/
    /*        right: 25.5px;*/
    /*        top: 0;*/
    /*        bottom: 0;*/
    /*        margin: auto 0;*/
    /*        background-color: #24A8BF;*/
    /*        width: 5px;*/
    /*        height: 9px;*/
    /*        clip-path: polygon(0 0, 0% 100%, 100% 50%);*/
    /*    }*/
}

.footer {
    height: 200px;
    background-color: #000;
    color: #888;
    text-align: center;
    font-size: 12px;


    .footer-logo {
        padding-top: 70px;
        padding-bottom: 50px;
        height: 36px;
        width: 180px;
        margin-inline: auto;
    }
}
